/*** Imports ***/

@import url(reset.css);
@import url('https://fonts.cdnfonts.com/css/gotham');
@import url(variables.css);

/* ------------- */
/* --- GRIDS --- */
/* ------------- */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
}

body {
    display: grid;
    grid-template-areas:    "header"
    "main"
    "footer";
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

header {
    grid: header;
    background-color: var(--header-background-color);
}

main {
    grid-area: main;
    margin: 1% 10%;
    position: relative;
}
footer{
    grid-area: footer;
    background-color: var(--footer-background-color);
    padding: var(--p-font-size) 0;
    align-content: end;
    border-top: 10px solid var(--header-background-color-2);    
}

.header-burger ul{
    grid-area: main;
}

/* -------------- */
/* --- NAVBAR --- */
/* -------------- */

header nav{
    display: grid;                                              /* Nav grid */
    grid-template-areas:    "header-logo   header-menu"         /* Template row 1 */
                            "header-dir    header-dir";         /* Template row 2 */
    grid-template-columns: auto auto;                           /* Template columns width */
    grid-template-rows: auto;                                   /* Template rows height */
    align-items: center;                                        /* Vertically aligned items */

    height: 20vh;
}

.nav-logo {
    grid-area: header-logo;                                     /* Logo position on Header's grid */
    align-self: center;                                         /* Logo centered */
    width: clamp(133px, 15vw, 300px);                           /* Logo auto-width */
    padding-right: clamp(133px, 15vw, 300px);                   /* Logo Negative Space */
}

.header-navbar{
    display: var(--navbar-display);                             /* Toggles navbar */
}

.header-navbar ul{
    grid-area: header-menu;                                            /* Navbar position on Header's grid */
    display: grid;                                              /* Navbar internal grid */
    grid-template-columns: repeat(7, auto);                     /* Creates 7 columns depending on items width */
    justify-self: end;                                          /* Move Navbar to right */
    padding-right: 2vw;                                         /* Padding */
}

.button {
    color: var(--p-color);                                      /* Font color*/
    font-size: var(--p-font-size);                              /* Fint Size*/
    text-decoration: none;                                      /* Hides links decorations*/
    text-align: center;                                         /* Horizontally centered text*/
    padding: 10px;                                              /* button padding */
}

.button:hover{
    background-size: cover;                                     /* BG covers father element size*/
    background-color: var(--button-background-color-hover);     /* BG color*/
    color: white;                                             /* Font color*/
    border-radius: 10px;                                        /* radial border*/
}

.button:hover a{
    color: var(--button-color-hover);                           /* Button text color on hover */
}

.header-info{
    grid-area: header-dir;                                             /* Header info position on Header's grid */
    display: var(--navbar-display);                             /* Toggles if desktop */
    background-color: var(--directions-background-color);       /* Header info BG color */
    padding: 1vh 2%;                                            /* Header info padding*/
}

.header-directions{
    text-align-last: right;                                     /* Header info Text alignment */
    font-size: var(--p-font-size);                              /* Header info Font Size */
    color: var(--p-color-2);                                    /* Header info Font Color */
}

/* -------------- */
/* --- BURGER --- */
/* -------------- */

.header-burger{
    grid-area: header-menu;
    display: var(--burger-display);
}

/**
 * Aplica a:
 *  + Desktop en modo Responsive Design (Galaxy S20 Linux): orientación portrait y landscape.
 *  + Desktop con Mobile Simulator (sólo tiene orientación portrait): Galaxy S21.
 *
 * No aplica a:
 *  + Desktop.
 */
@media screen and (width < 1130px) {
    header nav{
        display: grid;                                              /* Nav grid */
        grid-template-areas:    "header-logo   header-menu";         /* Template row 1 */
        grid-template-columns: auto auto;                           /* Template columns width */
        align-items: center;                                        /* Vertically aligned items */
    
        height: 20vh;
    }

    .header-navbar{
        display: none;
    }
    .header-info{
        display: none;
    }
    .header-burger{
        display: grid;
    }
    header{
        border-bottom: 10px solid var(--header-background-color-2);
    }

    .nav_label{
        justify-self: center;
    }
    
    .nav_img{
        background-color: var(--ulh-green);
        border-radius: 10px;
    }

    .nav_input{
        display: none;
    }
    
    .nav_input:checked + .nav_menu {
        clip-path: circle(100% at center);

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .nav_menu{
        grid-area: main;
        z-index: 99999;
        position: absolute;
        top: 20vh;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
        clip-path: circle(0% at center);
        transition: clip-path 1s ease-in-out;

        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 1s ease-in-out;
    }
    
    .header-burger ul li{
        display: grid;
        place-items: center;

        background-color: var(--body-background-color);
        border-top: 1px solid var(--header-background-color-2);
        border-bottom: 1px solid var(--header-background-color-2);
    }

    .header-burger ul li:first-of-type{
        border-top: 2px solid var(--header-background-color-2);
    }

    .button:hover:is(.nav_item){
        border-radius: 0;
    }
}

#solicitar-turno a{
    color: var(--ulh-green);
    font-weight: 900;
}
#solicitar-turno:hover a{
    color: var(--ulh-pale-grey);
    font-weight: 900;
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */

footer nav{
    align-content: center;
    height: 100%;
}
.footer-nav{
    display: grid;
    padding: var(--p-font-size) 0;
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.footer-redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--p-font-size);    
}
.footer-redes-item{
    margin: 0;
    padding: 0;
    height: var(--p-font-size);
    width: var(--p-font-size);
}

/**
 * No aplica a:
 *  + Desktop.
 *  + Desktop en modo Responsive Design (Galaxy S20 Linux): orientación portrait y landscape.
 *  + Desktop con Mobile Simulator (sólo tiene orientación portrait): Galaxy S21.
 */
@media screen and (820px <= width <= 1360px) {
    .footer-nav{
        display: grid;
        width: 100vw;
        grid-template-areas:    "tos        contacto"
                                "privacidad contacto"
                                "copy       redes";
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        margin: 0 0;
    }   
    #footer-tos{
        grid-area: tos;
    }
    #footer-privacidad{
        grid-area: privacidad;
    }
    #footer-contacto{
        grid-area: contacto;
        padding-right: 0 1vw;
    }
    .footer-redes{
        grid-area: redes;
        justify-self: end;
    }
    #footer-copy{
        grid-area: copy;
    }
}

/**
 * No aplica a:
 *  + Desktop.
 *  + Desktop en modo Responsive Design (Galaxy S20 Linux): orientación portrait y landscape.
 *  + Desktop con Mobile Simulator (sólo tiene orientación portrait): Galaxy S21.
 */
@media screen and (width < 820px) {
    .footer-nav{
        display: grid;
        width: 100vw;
        grid-template-areas:    "contacto"
                                "redes"
                                "privacidad"
                                "tos"
                                "copy";
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    #footer-tos{
        grid-area: tos;
    }
    #footer-privacidad{
        grid-area: privacidad;
    }
    #footer-contacto{
        grid-area: contacto;
        padding-right: 0 1vw;
    }
    .footer-redes{
        grid-area: redes;
        justify-self: end;
    }
    #footer-copy{
        grid-area: copy;
    }

    .footer-nav *{
        text-align: center;
    }
}

/* --------------- */
/* ---CARROUSEL--- */
/* --------------- */

.carrusel {
    display: grid;
    grid-auto-flow: column;

    width: 100%;
    overflow: hidden;
}
  
.carrusel-item {
    display: block;
    width: 100%;
    animation: animation-carrusel 10s linear infinite;
}
  
.carrusel-item img {
    width: 100%;
    object-fit: cover;
}

@keyframes animation-carrusel {
    0% {
      transform: translateX(0em);
    }
    100% {
      transform: translateX(-200em);
    }
  }
