/*** Imports ***/

@import url('https://fonts.cdnfonts.com/css/gotham');


/*** Variables ***/

:root {
    --ulh-green: rgb(2,82,85);
    --ulh-yellow: rgb(252,196,68);
    --ulh-red: rgb(208,36,74);
    --ulh-blue: rgb(0,157,218);
    --ulh-copper: rgb(160,73,40);
    --ulh-deep-brown: rgb(91,43,25);
    --ulh-baby-blue: rgb(135,211,226);
    --ulh-rich-olive: rgb(113,136,57);
    --ulh-rich-grey: rgb(59,74,90);
    --ulh-pale-gray: rgb(238,241,239);

    --h1-font-size: 4vw;
    --h1-color: var(--ulh-green);
    --h1-font-weight: bold;

    --h2-font-size: 2.5vw;
    --h2-font-weight: 600;
    --h2-color: var(--ulh-green);

    --h3-font-size: 2vw;
    --h3-font-weight: 400;
    --h3-color: var(--ulh-blue);
    
    --p-font-size: 1.5vw;
    --p-color: var(--ulh-rich-grey);

    --mobile-display: none;
    --desktop-display: block;
    --burger-display: none;
    --navbar-display: block;

    --background-color: var(--ulh-pale-gray);
    --header-footer-color: var(--ulh-pale-gray);
}

@media only screen and (pointer: coarse) {
    :root{
        --mobile-display: none;
        --desktop-display: block;
    }
}

@media only screen and (pointer: fine) {
   :root{
        --mobile-display: block;
        --desktop-display: none;
   }
}

@media only screen and (orientation: landscape) {
    :root{
        --burger-display: none;
        --navbar-display: block;
    }
}

@media only screen and (orientation: portrait) {
    :root{
        --burger-display: block;
        --navbar-display: none;
    } 
} 

/*** Media queries ***/

@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .paginas-relevantes {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    .mobile {
        display: none;
    }
}


/*** Estilos ***/
body {
    background-color: var(--background-color);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    color: var(--h1-color);
}

h2 {
    margin: 1vw 0vw;
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

h3 {
    margin: 1vw 0vw;
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}

p, address {
    font-family: 'Gotham', sans-serif;
    font-size: 4vw;
    color: var(--ulh-rich-grey);
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-align: left;
}

li {
    line-height: 1.5em;
}


img {
    font-size: 3vw;
    font-style: italic;
    color: var(--ulh-rich-grey);
}

header, footer {
    background-color: var(--ulh-pale-gray);
}

.logo-header {
    width: 60vw;
}

.logo-footer img {
    width: 11vw;
}

.logo-footer small {
    font-size: 3vw;
}

.iconos-redes {
    display: block;
}

.iconos-redes li {
    display: inline-block;
}

.logo-redes {
    width: 5vw;
}

.logged {
    display: none;
}

.enlace-boton {
    width: 170px;
    margin: 5px 0 5px 0;
    background-color: var(--ulh-pale-gray);
}

.carrusel-imagenes {
    display: inline;
}

.carrusel-imagenes li {
    display: inline-block;
    padding: 10px;
}

.carrusel-imagenes img::before {
    background-color: var(--ulh-pale-gray);
    border: 1px dashed var(--ulh-rich-grey);
}

.carrusel-imagenes figcaption {
    font-style: italic;
    font-size: 0.8em;
}

a:link {
    text-decoration-line: none;
    color: var(--ulh-rich-olive);
}

a:visited {
    color: var(--ulh-green);
}